/* ---------------------- Member List Section ---------------------- */
.member-list-section p {
    text-align: right; 
    color: #e0e0e0;
    padding-right: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    text-align: center; 
    padding: 8px;
    border-bottom: 1px solid #333;
}

th {
    color: #bb86fc;
}

/* ---------------------- Modal Styles ---------------------- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    position: relative;
}

.modal-content input[type="text"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    border: 1px solid #555;
    color: #e0e0e0;
    border-radius: 5px;
}

.modal-content .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #bbb;
    cursor: pointer;
}

.modal-content .close-button:hover {
    color: #fff;
}

.modal-content button {
    margin-top: 10px; 
    width: 100%; 
    padding: 10px;
    background-color: #bb86fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #9a67ea;
}
